/* Style the button that is used to open and close the collapsible content */
.collapsable {
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color .3s;
}


.active,
.collapsable:hover {
    background-color: #ccc;
    color: #3b3b3b;
    transition: background-color .3s;
}

.content {
    padding: 0px 18px;
    background-color: #3b3b3b;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}