<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title id="windowTitle"></title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <link rel="stylesheet" data-name="vs/editor/editor.main"
        href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/editor/editor.main.min.css">
    <link />
    <link rel="stylesheet" href="/mvp.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
    <script src="/components/hamburger.js"></script>
    <script src="/components/navbar.js"></script>
    <script src="/components/loadingIcon.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"></script>
</head>

<body style="background-color: #202124;">

    <nav-bar></nav-bar> 
    <main style="padding-left: 30px;padding-right: 30px;">

        <h1 id="taskTitle"></h1>
        <div id="container" style="height:80vh;"></div>
        <button
            style="padding:4px 15px;background-color: greenyellow;border-color: black;border-radius: 4px;margin-top: 20px;"
            id="runBtn">
            Run
        </button>
        
    </main>
    <script>
        var taskId = parseInt('<%= taskId %>');
        var task;
        fetch("/tasks.json")
            .then(response => response.json())
            .then((tasks) => {
                task = tasks[taskId]
                document.getElementById("taskTitle").innerHTML = task.title;
                document.getElementById("windowTitle").innerHTML = task.title;
            });
        const model = tf.sequential();

        fetch("/tfjs.d.ts")
            .then(response => response.text())
            .then((tfjsSource) => {

                // require is provided by loader.min.js.
                require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs' } });
                require(["vs/editor/editor.main"],async () => {
                    monaco.languages.typescript.javascriptDefaults.setDiagnosticsOptions({
                        noSemanticValidation: true,
                        noSyntaxValidation: false,
                    });

                    // compiler options
                    monaco.languages.typescript.javascriptDefaults.setCompilerOptions({
                        target: monaco.languages.typescript.ScriptTarget.ES2015,
                        allowNonTsExtensions: true,
                    });


                    var libUri = "ts:filename/tfjs.d.ts";

                    monaco.languages.typescript.javascriptDefaults.addExtraLib(tfjsSource, libUri);
                    monaco.editor.createModel(tfjsSource, "typescript", monaco.Uri.parse(libUri));

                    let defaultCode = await(await fetch("/defaultCode.txt")).text()
                    window.editor = monaco.editor.create(document.getElementById("container"), {
                        value: defaultCode,
                        language: "javascript",
                        theme: "vs-dark"
                    });

                    
                    fetch(task.pathToDataset).then(rdata=>rdata.text()).then((trainDataCsv)=>{
                        let trainData = $.csv.toArrays(trainDataCsv)
                        const trainX = trainData.map((row)=>row.filter((element,index)=>index!=task.label_column))
                        const trainY = trainData.map((row)=>row.filter((element,index)=>index==task.label_column))
                        //setup run button
                        document.getElementById("runBtn").addEventListener("click", () => {
                            console.log(eval(window.editor.getValue()))
                        })
                    });
                });
            });
    </script>
</body>

</html>