<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title id="windowTitle"></title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <link rel="stylesheet" data-name="vs/editor/editor.main"
        href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/editor/editor.main.min.css">
    <link />
    <link rel="stylesheet" href="/mvp.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
    <script src="/components/hamburger.js"></script>
    <script src="/components/navbar.js"></script>
    <script src="/components/loadingIcon.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"></script>
    <script src="/components/collapsableDiv.js"></script>
</head>

<body style="background-color: #202124;">

    <nav-bar></nav-bar>
    <main style="padding: 0px 30px;">
        <h1 id="taskTitle"></h1>
        <p id="taskDesc"></p>
        <collapsable-div title="Dataset details">
            <p id="datasetDetails" style="padding: 10px 0px;"></p>
        </collapsable-div>
        <div id="container" style="margin-top: 30px;height:80vh;"></div>
        <div style="display: flex;flex-direction: row;align-items: center;padding: 10px 0px;">
            <button
                style="padding:4px 15px;background-color: greenyellow;border-color: black;border-radius: 4px;margin-right: 10px;"
                id="runBtn">
                Run
            </button>
        </div>
        <div id="testRuns" style="display:flex;flex-direction: column;">

        </div>
    </main>
    <script type="module">
        import { readClassificationDataset } from "/scripts/evaluator.js"
        document.querySelector("nav-bar").setAttribute("hide-login", "true")
        var taskId = parseInt('<%= taskId %>');
        var task;
        fetch("/tasks.json")
            .then(response => response.json())
            .then((tasks) => {
                task = tasks[taskId]
                document.getElementById("taskTitle").innerHTML = task.title;
                document.getElementById("windowTitle").innerHTML = task.title;
                document.getElementById("taskDesc").innerHTML = task.description;
                fetch(task.pathToDatasetInfo).then(resp => resp.text()).then((desc) => {
                    document.getElementById("datasetDetails").innerText = desc
                });
            });
        const model = tf.sequential();

        fetch("/tfjs.d.ts")
            .then(response => response.text())
            .then((tfjsSource) => {

                // require is provided by loader.min.js.
                require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs' } });
                require(["vs/editor/editor.main"], async () => {
                    monaco.languages.typescript.javascriptDefaults.setDiagnosticsOptions({
                        noSemanticValidation: true,
                        noSyntaxValidation: false,
                    });

                    // compiler options
                    monaco.languages.typescript.javascriptDefaults.setCompilerOptions({
                        target: monaco.languages.typescript.ScriptTarget.ES2015,
                        allowNonTsExtensions: true,
                    });


                    var libUri = "ts:filename/tfjs.d.ts";

                    monaco.languages.typescript.javascriptDefaults.addExtraLib(tfjsSource, libUri);
                    monaco.editor.createModel(tfjsSource, "typescript", monaco.Uri.parse(libUri));

                    let defaultCode = await (await fetch("/defaultCode.txt")).text()
                    window.editor = monaco.editor.create(document.getElementById("container"), {
                        value: defaultCode,
                        language: "javascript",
                        theme: "vs-dark"
                    });

                    fetch(task.pathToDataset).then(rdata => rdata.text()).then((trainDataCsv) => {
                        const [dataX, dataY] = readClassificationDataset(trainDataCsv, task)

                        //setup run button
                        document.getElementById("runBtn").addEventListener("click", () => {
                            var model = eval(window.editor.getValue());
                            if (model.fit) {
                                let testRuns = document.getElementById("testRuns")
                                function displayAttempt(idx) {
                                    let attContainer = document.createElement("div")
                                    attContainer.style.display = "flex"
                                    attContainer.style.flexDirection = "row"
                                    attContainer.style.justifyContent = "space-between"
                                    attContainer.style.alignItems = "center"
                                    attContainer.style.padding = "0px 10px"
                                    attContainer.style.borderRadius = "5px"
                                    attContainer.style.marginTop = "4px"
                                    attContainer.style.border = "solid yellowgreen 2px"
                                    testRuns.appendChild(attContainer)
                                    let loadingIcon = document.createElement("loading-icon")
                                    let testText = document.createElement("h3")
                                    testText.innerHTML = "Attempt: " + idx;
                                    attContainer.appendChild(testText);
                                    attContainer.appendChild(loadingIcon);
                                    return attContainer;
                                }
                                function startAttempt(idx, attContainer) {

                                    return model.fit(dataX, dataY, { epochs: 100 }).then(info => {
                                        let acc = info.history.categoricalAccuracy;
                                        attContainer.querySelector("loading-icon").remove()
                                        let accText = document.createElement("h3")
                                        accText.innerHTML = " Accuracy: " + Math.floor(acc[acc.length - 1] * 100) + "%";
                                        attContainer.appendChild(accText)
                                    });
                                }
                                testRuns.innerHTML = ""
                                let currentPromise = startAttempt(1, displayAttempt(1))
                                for (let i = 2; i <= 10; i++) {
                                    let container = displayAttempt(i);
                                    currentPromise = currentPromise.then(() => startAttempt(i, container))
                                }
                            }
                            else {
                                alert("You did not return a model!")
                            }
                        });
                    });
                });
            });
    </script>
</body>

</html>